@model OtelMvcProje.Models.Entity.TblYeniKayit
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html lang="zxx">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Particles Login Form Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
    </script>
    <link href="~/hotels-starter/Login/css/style.css" rel='stylesheet' type='text/css' />
    <link href="https://fonts.googleapis.com/css?family=Amiri:400,400i,700,700i" rel="stylesheet">
</head>

<body>

    <div id="particles-js"></div>
    <div class="w3ls-pos">
        <h1>Otel Giriş Sayfası</h1>
        <h2 style="color:white">Rezervasyon yapabilmek için giriş yapmanız gerekmektedir!</h2>
        <div class="w3ls-login box">
  
            <form  method="post">
                <div class="agile-field-txt">
                    <input type="email" name="Mail" placeholder="info@gmail.com" required="" />
                </div>
                <div class="agile-field-txt">
                    <input type="password" name="Şifre" placeholder="******" required=""  />
                    <div class="agile_label">
                        <a href="/Kayıt/KayıtOl/" style="color:white">Bir Hesabın Yok Mu?</a>
                        <br />
                        
                    </div>
                </div>
                <div class="w3ls-bot">
                    <input type="submit" value="Giriş Yap">
                </div>
            </form>
        </div>

        <div class="copy-wthree">
            <p>
                © 2023 Particles Login Form. Tüm Hakları Saklıdır | Design by
                <a href="http://w3layouts.com/" target="_blank">W3layouts</a>
            </p>
        </div>
    </div>
    <script src='~/hotels-starter/Login/js/particles.min.js'></script>
    <script src="~/hotels-starter/Login/js/index.js"></script>
</body>

</html>
